{% extends "layoutDB.html" %}
{% block content %}

<div id="wanttoplay">
    <p> I love litRPG! </p>
	<p> But I get tired of protagonists who beat the odds too consistently. </p>
	<p> I wanted to see how real probabilities translate to succes in an RPG. </p>
	<p> You can play RPB Poker and predict the winner of two 5 man teams without signing in. </p>
	<p> If you want to manage a team of 5 players you can create a player who will manage 3 teams of randomly generated adventurers. </p>
</div>
{% endblock %}
